.privacy-container{
    min-height: 65vh;
    width: 98.5%;
    position: relative;
    margin-bottom: 120px;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
}
.text-wrap{
    width: 95%;
}
@media screen and (max-width: 768px) {
    .privacy-container{
        padding-top: 0px;
        margin-bottom: 130px;
    }
}