.pmc-container{
    min-height: 80vh;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    position: relative;
}
/* .pmc-container:before{
    content: 'Coming Soon';
    font-size: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    padding: 0;
    color: black;
    font-weight: 600;
    position: absolute;
    top: 0%; 
    left: 0;
    z-index: 9999;  
    display:flex;
    justify-content:center;
    align-items:center;
} */
